RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f #if file doesn't exist
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php?page=$1 [NC,L,QSA]
RewriteRule ^([a-zA-Z0-9\-_/]*)$ index.php?page=$1 [NC,L,QSA]